[submodule "Reference/web/2.3-Single-Page-Applications/Sprint/web-sprint-challenge-single-page-applications"]
	path = curriculum/web48/2.3-Single-Page-Applications/Sprint/web-sprint-challenge-single-page-applications
	url = https://github.com/beatlesm/web-sprint-challenge-single-page-applications
[submodule "Reference/web/2.3-Single-Page-Applications/Module_4-cypress.io/web-guided-project-cypress"]
	path = curriculum/web48/2.3-Single-Page-Applications/Module_4-cypress.io/web-guided-project-cypress
	url = git@github.com:beatlesm/web-guided-project-cypress.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_4-cypress.io/caseybook2"]
	path = Reference/web/2.3-Single-Page-Applications/Module_4-cypress.io/caseybook2
	url = git@github.com:CRHarding/caseybook2.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_4-cypress.io/Cypress-Testing"]
	path = curriculum/web48/2.3-Single-Page-Applications/Module_4-cypress.io/Cypress-Testing
	url = git@github.com:beatlesm/Cypress-Testing.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/web-guided-project-cypress"]
	path = Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/web-guided-project-cypress
	url = git@github.com:beatlesm/web-guided-project-cypress.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/caseybook2"]
	path = Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/caseybook2
	url = git@github.com:beatlesm/caseybook2.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/Cypress-Testing"]
	path = Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/Cypress-Testing
	url = git@github.com:beatlesm/Cypress-Testing.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/User-Onboarding"]
	path = Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/User-Onboarding
	url = git@github.com:beatlesm/User-Onboarding.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/web-guided-project-advanced-forms"]
	path = Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/web-guided-project-advanced-forms
	url = git@github.com:beatlesm/web-guided-project-advanced-forms.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/team-builder"]
	path = Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/team-builder
	url = git@github.com:beatlesm/team-builder.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/web-guided-project-form-management"]
	path = Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/web-guided-project-form-management
	url = git@github.com:beatlesm/web-guided-project-form-management.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_1-React-Router/web-guided-project-react-router"]
	path = curriculum/web48/2.3-Single-Page-Applications/Module_1-React-Router/web-guided-project-react-router
	url = git@github.com:beatlesm/web-guided-project-react-router.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_1-React-Router/React-Router-Movies"]
	path = curriculum/web48/2.3-Single-Page-Applications/Module_1-React-Router/React-Router-Movies
	url = git@github.com:beatlesm/React-Router-Movies.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_2-Form-Management/web-guided-project-form-management"]
	path = curriculum/web48/2.3-Single-Page-Applications/Module_2-Form-Management/web-guided-project-form-management
	url = git@github.com:beatlesm/web-guided-project-form-management.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_2-Form-Management/team-builder"]
	path = curriculum/web48/2.3-Single-Page-Applications/Module_2-Form-Management/team-builder
	url = git@github.com:beatlesm/team-builder.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form_management/web-guided-project-advanced-forms"]
	path = curriculum/web48/2.3-Single-Page-Applications/Module_3-Advanced-Form_management/web-guided-project-advanced-forms
	url = git@github.com:beatlesm/web-guided-project-advanced-forms.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form_management/User-Onboarding"]
	path = curriculum/web48/2.3-Single-Page-Applications/Module_3-Advanced-Form_management/User-Onboarding
	url = git@github.com:beatlesm/User-Onboarding.git
[submodule "Reference/web/2.3-Single-Page-Applications/Sprint/caseybook2"]
	path = curriculum/web48/2.3-Single-Page-Applications/Sprint/caseybook2
	url = git@github.com:beatlesm/caseybook2.git
[submodule "Reference/web/2.2-Intro-to-React/Module_1-React-Component-and-Component-States/web-guided-project-react-components-1"]
	path = curriculum/web48/2.2-Intro-to-React/Module_1-React-Component-and-Component-States/web-guided-project-react-components-1
	url = git@github.com:beatlesm/web-guided-project-react-components-1.git
[submodule "Reference/web/2.2-Intro-to-React/Module_1-React-Component-and-Component-States/react-stateful-widgets"]
	path = curriculum/web48/2.2-Intro-to-React/Module_1-React-Component-and-Component-States/react-stateful-widgets
	url = git@github.com:beatlesm/react-stateful-widgets.git
[submodule "Reference/web/2.2-Intro-to-React/Module_2-Composing-React-Components/web-guided-project-react-components-2"]
	path = curriculum/web48/2.2-Intro-to-React/Module_2-Composing-React-Components/web-guided-project-react-components-2
	url = git@github.com:beatlesm/web-guided-project-react-components-2.git
[submodule "Reference/web/2.2-Intro-to-React/Module_2-Composing-React-Components/React-Components-Insta-Clone"]
	path = curriculum/web48/2.2-Intro-to-React/Module_2-Composing-React-Components/React-Components-Insta-Clone
	url = git@github.com:beatlesm/React-Components-Insta-Clone.git
[submodule "Reference/web/2.2-Intro-to-React/Module_3-Composing-Side-Effects/nasa-photo-of-the-day"]
	path = curriculum/web48/2.2-Intro-to-React/Module_3-Composing-Side-Effects/nasa-photo-of-the-day
	url = git@github.com:beatlesm/nasa-photo-of-the-day.git
[submodule "Reference/web/2.2-Intro-to-React/Module_3-Composing-Side-Effects/web-guided-project-component-side-effects"]
	path = curriculum/web48/2.2-Intro-to-React/Module_3-Composing-Side-Effects/web-guided-project-component-side-effects
	url = git@github.com:beatlesm/web-guided-project-component-side-effects.git
[submodule "Reference/web/2.2-Intro-to-React/Module_4-Advanced-Styling-Techniques/web-guided-project-styling-components"]
	path = curriculum/web48/2.2-Intro-to-React/Module_4-Advanced-Styling-Techniques/web-guided-project-styling-components
	url = git@github.com:beatlesm/web-guided-project-styling-components.git
[submodule "Reference/web/2.2-Intro-to-React/Module_4-Advanced-Styling-Techniques/nasa-photo-of-the-day"]
	path = curriculum/web48/2.2-Intro-to-React/Module_4-Advanced-Styling-Techniques/nasa-photo-of-the-day
	url = git@github.com:beatlesm/nasa-photo-of-the-day.git
[submodule "Reference/web/2.2-Intro-to-React/Sprint/web-sprint-challenge-intro-to-react"]
	path = curriculum/web48/2.2-Intro-to-React/Sprint/web-sprint-challenge-intro-to-react
	url = git@github.com:beatlesm/web-sprint-challenge-intro-to-react.git
[submodule "Reference/web/2.1-Applied-JavaScript/Module_1-DOM-I/web-guided-project-dom-1"]
	path = curriculum/web48/2.1-Applied-JavaScript/Module_1-DOM-I/web-guided-project-dom-1
	url = git@github.com:beatlesm/web-guided-project-dom-1.git
[submodule "Reference/web/2.1-Applied-JavaScript/Module_1-DOM-I/DOM-I"]
	path = curriculum/web48/2.1-Applied-JavaScript/Module_1-DOM-I/DOM-I
	url = git@github.com:beatlesm/DOM-I.git
[submodule "Reference/web/2.1-Applied-JavaScript/Module_2-DOM-II/web-guided-project-dom-2"]
	path = curriculum/web48/2.1-Applied-JavaScript/Module_2-DOM-II/web-guided-project-dom-2
	url = git@github.com:beatlesm/web-guided-project-dom-2.git
[submodule "Reference/web/2.1-Applied-JavaScript/Module_2-DOM-II/DOM-II"]
	path = curriculum/web48/2.1-Applied-JavaScript/Module_2-DOM-II/DOM-II
	url = git@github.com:beatlesm/DOM-II.git
[submodule "Reference/web/2.1-Applied-JavaScript/Module_3-Components-I/web-guided-project-components-1"]
	path = curriculum/web48/2.1-Applied-JavaScript/Module_3-Components-I/web-guided-project-components-1
	url = git@github.com:beatlesm/web-guided-project-components-1.git
[submodule "Reference/web/2.1-Applied-JavaScript/Module_3-Components-I/Newsfeed-Components"]
	path = curriculum/web48/2.1-Applied-JavaScript/Module_3-Components-I/Newsfeed-Components
	url = git@github.com:beatlesm/Newsfeed-Components.git
[submodule "Reference/web/2.1-Applied-JavaScript/Module_4-Components-II/web-guided-project-components-2"]
	path = curriculum/web48/2.1-Applied-JavaScript/Module_4-Components-II/web-guided-project-components-2
	url = git@github.com:beatlesm/web-guided-project-components-2.git
[submodule "Reference/web/2.1-Applied-JavaScript/Module_4-Components-II/github-usercard"]
	path = curriculum/web48/2.1-Applied-JavaScript/Module_4-Components-II/github-usercard
	url = git@github.com:beatlesm/github-usercard.git
[submodule "Reference/web/2.1-Applied-JavaScript/Sprint/web-sprint-challenge-applied-javascript"]
	path = curriculum/web48/2.1-Applied-JavaScript/Sprint/web-sprint-challenge-applied-javascript
	url = git@github.com:beatlesm/web-sprint-challenge-applied-javascript.git
[submodule "Reference/wes/JavaScript30"]
	path = Reference/wes/JavaScript30
	url = git@github.com:wesbos/JavaScript30.git
[submodule "Reference/web/1.3-JavaScript-Fundamentals/Sprint/web-sprint-challenge-javascript-fundamentals"]
	path = curriculum/web48/1.3-JavaScript-Fundamentals/Sprint/web-sprint-challenge-javascript-fundamentals
	url = git@github.com:beatlesm/web-sprint-challenge-javascript-fundamentals.git
[submodule "Reference/web/1.3-JavaScript-Fundamentals/Module_4-Classes/JS-Exercise-Classes"]
	path = curriculum/web48/1.3-JavaScript-Fundamentals/Module_4-Classes/JS-Exercise-Classes
	url = git@github.com:beatlesm/JS-Exercise-Classes.git
[submodule "Reference/web/1.3-JavaScript-Fundamentals/Module_3-Prototypes-and-Inheritance/JS-Exercise-Prototype"]
	path = curriculum/web48/1.3-JavaScript-Fundamentals/Module_3-Prototypes-and-Inheritance/JS-Exercise-Prototype
	url = git@github.com:beatlesm/JS-Exercise-Prototype.git
[submodule "Reference/web/1.3-JavaScript-Fundamentals/Module_2-Advanced-Array-Methods/Array-Methods-and-Callbacks"]
	path = curriculum/web48/1.3-JavaScript-Fundamentals/Module_2-Advanced-Array-Methods/Array-Methods-and-Callbacks
	url = git@github.com:beatlesm/Array-Methods-and-Callbacks.git
[submodule "Reference/web/1.3-JavaScript-Fundamentals/Module_1-Scope-and-Closure/web-module-challenge-scope-and-closure"]
	path = curriculum/web48/1.3-JavaScript-Fundamentals/Module_1-Scope-and-Closure/web-module-challenge-scope-and-closure
	url = git@github.com:beatlesm/web-module-challenge-scope-and-closure.git
[submodule "Reference/web/1.2-Advanced-CSS-and-Intro-JavaScript/Sprint/web-sprint-challenge-advanced-css-and-intro-js"]
	path = curriculum/web48/1.2-Advanced-CSS-and-Intro-JavaScript/Sprint/web-sprint-challenge-advanced-css-and-intro-js
	url = git@github.com:beatlesm/web-sprint-challenge-advanced-css-and-intro-js.git
[submodule "Reference/web/1.2-Advanced-CSS-and-Intro-JavaScript/Module_4-Objects/web-module-challenge-objects"]
	path = curriculum/web48/1.2-Advanced-CSS-and-Intro-JavaScript/Module_4-Objects/web-module-challenge-objects
	url = git@github.com:beatlesm/web-module-challenge-objects.git
[submodule "Reference/web/1.2-Advanced-CSS-and-Intro-JavaScript/Module_3-Arrays/web-module-challenge-arrays"]
	path = curriculum/web48/1.2-Advanced-CSS-and-Intro-JavaScript/Module_3-Arrays/web-module-challenge-arrays
	url = git@github.com:beatlesm/web-module-challenge-arrays.git
[submodule "Reference/web/1.2-Advanced-CSS-and-Intro-JavaScript/Module_2-Intro-to-JavaScript/Introduction-to-JavaScript"]
	path = curriculum/web48/1.2-Advanced-CSS-and-Intro-JavaScript/Module_2-Intro-to-JavaScript/Introduction-to-JavaScript
	url = git@github.com:beatlesm/Introduction-to-JavaScript.git
[submodule "Reference/web/1.2-Advanced-CSS-and-Intro-JavaScript/Module_1-Responsive-Web-Design/User-Interface-II"]
	path = curriculum/web48/1.2-Advanced-CSS-and-Intro-JavaScript/Module_1-Responsive-Web-Design/User-Interface-II
	url = git@github.com:beatlesm/User-Interface-II.git
[submodule "Reference/web/1.1-User-Interface-and-Git/Sprint/web-Sprint-Challenge-User-Interface-and-Git"]
	path = curriculum/web48/1.1-User-Interface-and-Git/Sprint/web-Sprint-Challenge-User-Interface-and-Git
	url = git@github.com:beatlesm/web-Sprint-Challenge-User-Interface-and-Git.git
[submodule "Reference/web/1.1-User-Interface-and-Git/Module_4-CSS-Layouts/User-Interface-II"]
	path = curriculum/web48/1.1-User-Interface-and-Git/Module_4-CSS-Layouts/User-Interface-II
	url = git@github.com:beatlesm/User-Interface-II.git
[submodule "Reference/web/1.1-User-Interface-and-Git/Module_3-Intro-CSS/web-module-project-intro-css"]
	path = curriculum/web48/1.1-User-Interface-and-Git/Module_3-Intro-CSS/web-module-project-intro-css
	url = git@github.com:beatlesm/web-module-project-intro-css.git
[submodule "Reference/web/1.1-User-Interface-and-Git/Module_2-Git-for-web-Development/Git-for-Web-Development-Project"]
	path = curriculum/web48/1.1-User-Interface-and-Git/Module_2-Git-for-web-Development/Git-for-Web-Development-Project
	url = git@github.com:beatlesm/Git-for-Web-Development-Project.git
[submodule "curriculum/wes/JavaScript30"]
	path = curriculum/wes/JavaScript30
	url = git@github.com:beatlesm/JavaScript30.git
[submodule "Reference/web/3.1-Advanced-React/Module_1-Class-Components/web-module-project-class-components"]
	path = curriculum/web48/3.1-Advanced-React/Module_1-Class-Components/web-module-project-class-components
	url = https://github.com/beatlesm/web-module-project-class-components
[submodule "Reference/web/3.1-Advanced-React/Module_2-The-React-Lifecycle/web-module-project-lifecycle"]
	path = curriculum/web48/3.1-Advanced-React/Module_2-The-React-Lifecycle/web-module-project-lifecycle
	url = https://github.com/beatlesm/web-module-project-lifecycle
[submodule "Reference/web/3.1-Advanced-React/Module_3-Composing-and-Sharing-Non-Visual-Behaviors/web-module-project-custom-hook"]
	path = curriculum/web48/3.1-Advanced-React/Module_3-Composing-and-Sharing-Non-Visual-Behaviors/web-module-project-custom-hook
	url = https://github.com/beatlesm/web-module-project-custom-hook
[submodule "Reference/web/3.1-Advanced-React/Module_4-Testing-Web-Applications/web-module-project-testing-web-apps"]
	path = curriculum/web48/3.1-Advanced-React/Module_4-Testing-Web-Applications/web-module-project-testing-web-apps
	url = https://github.com/beatlesm/web-module-project-testing-web-apps
[submodule "curriculum/web48/3.1-Advanced-React/Module_1-Class-Components/web-guided-project-class-components"]
	path = curriculum/web48/3.1-Advanced-React/Module_1-Class-Components/web-guided-project-class-components
	url = https://github.com/beatlesm/web-guided-project-class-components.git
[submodule "curriculum/web48/3.1-Advanced-React/Module_2-The-React-Lifecycle/web-guided-project-lifecycle"]
	path = curriculum/web48/3.1-Advanced-React/Module_2-The-React-Lifecycle/web-guided-project-lifecycle
	url = https://github.com/beatlesm/web-guided-project-lifecycle.git
[submodule "curriculum/web48/3.1-Advanced-React/Module_3-Composing-and-Sharing-Non-Visual-Behaviors/web-guided-project-custom-hook"]
	path = curriculum/web48/3.1-Advanced-React/Module_3-Composing-and-Sharing-Non-Visual-Behaviors/web-guided-project-custom-hook
	url = https://github.com/beatlesm/web-guided-project-custom-hook.git
[submodule "curriculum/web48/3.1-Advanced-React/Sprint/web-sprint-challenge-advanced-react"]
	path = curriculum/web48/3.1-Advanced-React/Sprint/web-sprint-challenge-advanced-react
	url = https://github.com/beatlesm/web-sprint-challenge-advanced-react.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Module_1-The-Reducer-Pattern/web-module-project-reducer"]
	path = curriculum/web48/3.2-Advanced-State-Management/Module_1-The-Reducer-Pattern/web-module-project-reducer
	url = https://github.com/beatlesm/web-module-project-reducer.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Module_2-Redux/web-module-project-redux"]
	path = curriculum/web48/3.2-Advanced-State-Management/Module_2-Redux/web-module-project-redux
	url = https://github.com/beatlesm/web-module-project-redux.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Module_3-Async-Redux/web-module-project-async-redux"]
	path = curriculum/web48/3.2-Advanced-State-Management/Module_3-Async-Redux/web-module-project-async-redux
	url = https://github.com/beatlesm/web-module-project-async-redux.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Module_4-Contex-API/web-module-project-context"]
	path = curriculum/web48/3.2-Advanced-State-Management/Module_4-Contex-API/web-module-project-context
	url = https://github.com/beatlesm/web-module-project-context.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Module_1-The-Reducer-Pattern/web-guided-project-reducer"]
	path = curriculum/web48/3.2-Advanced-State-Management/Module_1-The-Reducer-Pattern/web-guided-project-reducer
	url = https://github.com/beatlesm/web-guided-project-reducer.git
[submodule "curriculum/web48/3.1-Advanced-React/Module_4-Testing-Web-Applications/web-guided-project-testing-web-apps"]
	path = curriculum/web48/3.1-Advanced-React/Module_4-Testing-Web-Applications/web-guided-project-testing-web-apps
	url = https://github.com/beatlesm/web-guided-project-testing-web-apps.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Module_2-Redux/web-guided-project-redux"]
	path = curriculum/web48/3.2-Advanced-State-Management/Module_2-Redux/web-guided-project-redux
	url = https://github.com/beatlesm/web-guided-project-redux.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Module_3-Async-Redux/web-guided-project-async-redux"]
	path = curriculum/web48/3.2-Advanced-State-Management/Module_3-Async-Redux/web-guided-project-async-redux
	url = https://github.com/beatlesm/web-guided-project-async-redux.git
[submodule "curriculum/web48/2.4-WEB-Unit-2-Build/Unit1Marketing"]
	path = curriculum/web48/2.4-WEB-Unit-2-Build/Unit1Marketing
	url = https://github.com/beatlesm/Unit1Marketing.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Sprit/web-sprint-challenge-advanced-state-management"]
	path = curriculum/web48/3.2-Advanced-State-Management/Sprit/web-sprint-challenge-advanced-state-management
	url = https://github.com/beatlesm/web-sprint-challenge-advanced-state-management.git
[submodule "curriculum/web48/3.3-Advanced-Web-Applications/Module_1-Testing-React/web-module-project-testing-react"]
	path = curriculum/web48/3.3-Advanced-Web-Applications/Module_1-Testing-React/web-module-project-testing-react
	url = git@github.com:beatlesm/web-module-project-testing-react.git
[submodule "curriculum/web48/3.3-Advanced-Web-Applications/Module_2-Client-Side-Auth/web-module-project-client-auth"]
	path = curriculum/web48/3.3-Advanced-Web-Applications/Module_2-Client-Side-Auth/web-module-project-client-auth
	url = git@github.com:beatlesm/web-module-project-client-auth.git
[submodule "curriculum/web48/3.3-Advanced-Web-Applications/Module_3-HTTP:AJAX-II/web-module-project-HTTP"]
	path = curriculum/web48/3.3-Advanced-Web-Applications/Module_3-HTTP:AJAX-II/web-module-project-HTTP
	url = git@github.com:beatlesm/web-module-project-HTTP.git
[submodule "curriculum/web48/3.3-Advanced-Web-Applications/Module_4-Deploying-Web-Apps/web-module-project-deploying-web-apps"]
	path = curriculum/web48/3.3-Advanced-Web-Applications/Module_4-Deploying-Web-Apps/web-module-project-deploying-web-apps
	url = git@github.com:beatlesm/web-module-project-deploying-web-apps.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Module_4-Contex-API/redux-qa-324"]
	path = curriculum/web48/3.2-Advanced-State-Management/Module_4-Contex-API/redux-qa-324
	url = git@github.com:beatlesm/redux-qa-324.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Module_4-Contex-API/web-guided-project-async-redux"]
	path = curriculum/web48/3.2-Advanced-State-Management/Module_4-Contex-API/web-guided-project-async-redux
	url = git@github.com:beatlesm/web-guided-project-async-redux.git
[submodule "curriculum/web48/3.2-Advanced-State-Management/Module_1-The-Reducer-Pattern/reducer-qa-321"]
	path = curriculum/web48/3.2-Advanced-State-Management/Module_1-The-Reducer-Pattern/reducer-qa-321
	url = git@github.com:beatlesm/reducer-qa-321.git
[submodule "curriculum/web48/3.3-Advanced-Web-Applications/Module_1-Testing-React/web-guided-project-testing-react"]
	path = curriculum/web48/3.3-Advanced-Web-Applications/Module_1-Testing-React/web-guided-project-testing-react
	url = git@github.com:beatlesm/web-guided-project-testing-react.git
[submodule "curriculum/web48/3.3-Advanced-Web-Applications/Module_1-Testing-React/testing-react-qa-331"]
	path = curriculum/web48/3.3-Advanced-Web-Applications/Module_1-Testing-React/testing-react-qa-331
	url = git@github.com:beatlesm/testing-react-qa-331.git
[submodule "curriculum/web48/3.3-Advanced-Web-Applications/Module_2-Client-Side-Auth/web-guided-project-client-auth"]
	path = curriculum/web48/3.3-Advanced-Web-Applications/Module_2-Client-Side-Auth/web-guided-project-client-auth
	url = git@github.com:beatlesm/web-guided-project-client-auth.git
[submodule "curriculum/web48/3.3-Advanced-Web-Applications/Module_3-HTTP:AJAX-II/http-ajax-ii-332-video"]
	path = curriculum/web48/3.3-Advanced-Web-Applications/Module_3-HTTP:AJAX-II/http-ajax-ii-332-video
	url = git@github.com:beatlesm/http-ajax-ii-332-video.git
[submodule "curriculum/web48/3.3-Advanced-Web-Applications/Sprint/web-sprint-challenge-advanced-web-applications"]
	path = curriculum/web48/3.3-Advanced-Web-Applications/Sprint/web-sprint-challenge-advanced-web-applications
	url = git@github.com:beatlesm/web-sprint-challenge-advanced-web-applications.git
[submodule "curriculum/web48/2.4-WEB-Unit-2-Build/FT-African-Marketplace-2-Group/front-end"]
	path = curriculum/web48/2.4-WEB-Unit-2-Build/FT-African-Marketplace-2-Group/front-end
	url = git@github.com:FT-African-Marketplace-2-Group/front-end.git
[submodule "curriculum/web48/2.4-WEB-Unit-2-Build/FT-African-Marketplace-2-Group/back-end"]
	path = curriculum/web48/2.4-WEB-Unit-2-Build/FT-African-Marketplace-2-Group/back-end
	url = git@github.com:FT-African-Marketplace-2-Group/back-end.git
[submodule "curriculum/web48/3.4-WEB-Unit-3-Build/ft-anywhere-fitness-7"]
	path = curriculum/web48/3.4-WEB-Unit-3-Build/ft-anywhere-fitness-7
	url = git@github.com:beatlesm/ft-anywhere-fitness-7.git
