[submodule "Reference/web/2.3-Single-Page-Applications/Sprint/web-sprint-challenge-single-page-applications"]
	path = Reference/web/2.3-Single-Page-Applications/Sprint/web-sprint-challenge-single-page-applications
	url = https://github.com/beatlesm/web-sprint-challenge-single-page-applications
[submodule "Reference/web/2.3-Single-Page-Applications/Module_4-cypress.io/web-guided-project-cypress"]
	path = Reference/web/2.3-Single-Page-Applications/Module_4-cypress.io/web-guided-project-cypress
	url = git@github.com:beatlesm/web-guided-project-cypress.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_4-cypress.io/caseybook2"]
	path = Reference/web/2.3-Single-Page-Applications/Module_4-cypress.io/caseybook2
	url = git@github.com:CRHarding/caseybook2.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_4-cypress.io/Cypress-Testing"]
	path = Reference/web/2.3-Single-Page-Applications/Module_4-cypress.io/Cypress-Testing
	url = git@github.com:beatlesm/Cypress-Testing.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/web-guided-project-cypress"]
	path = Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/web-guided-project-cypress
	url = git@github.com:beatlesm/web-guided-project-cypress.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/caseybook2"]
	path = Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/caseybook2
	url = git@github.com:beatlesm/caseybook2.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/Cypress-Testing"]
	path = Reference/web/2.3-Single-Page-Applications/Module+_4-cypress.io/Cypress-Testing
	url = git@github.com:beatlesm/Cypress-Testing.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/User-Onboarding"]
	path = Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/User-Onboarding
	url = git@github.com:beatlesm/User-Onboarding.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/web-guided-project-advanced-forms"]
	path = Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/web-guided-project-advanced-forms
	url = git@github.com:beatlesm/web-guided-project-advanced-forms.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/team-builder"]
	path = Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/team-builder
	url = git@github.com:beatlesm/team-builder.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/web-guided-project-form-management"]
	path = Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form-Mannagement/web-guided-project-form-management
	url = git@github.com:beatlesm/web-guided-project-form-management.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_1-React-Router/web-guided-project-react-router"]
	path = Reference/web/2.3-Single-Page-Applications/Module_1-React-Router/web-guided-project-react-router
	url = git@github.com:beatlesm/web-guided-project-react-router.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_1-React-Router/React-Router-Movies"]
	path = Reference/web/2.3-Single-Page-Applications/Module_1-React-Router/React-Router-Movies
	url = git@github.com:beatlesm/React-Router-Movies.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_2-Form-Management/web-guided-project-form-management"]
	path = Reference/web/2.3-Single-Page-Applications/Module_2-Form-Management/web-guided-project-form-management
	url = git@github.com:beatlesm/web-guided-project-form-management.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_2-Form-Management/team-builder"]
	path = Reference/web/2.3-Single-Page-Applications/Module_2-Form-Management/team-builder
	url = git@github.com:beatlesm/team-builder.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form_management/web-guided-project-advanced-forms"]
	path = Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form_management/web-guided-project-advanced-forms
	url = git@github.com:beatlesm/web-guided-project-advanced-forms.git
[submodule "Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form_management/User-Onboarding"]
	path = Reference/web/2.3-Single-Page-Applications/Module_3-Advanced-Form_management/User-Onboarding
	url = git@github.com:beatlesm/User-Onboarding.git
[submodule "Reference/web/2.3-Single-Page-Applications/Sprint/caseybook2"]
	path = Reference/web/2.3-Single-Page-Applications/Sprint/caseybook2
	url = git@github.com:beatlesm/caseybook2.git
