[submodule "Reference/web/2.3-Single-Page-Applications/Sprint/web-sprint-challenge-single-page-applications"]
	path = Reference/web/2.3-Single-Page-Applications/Sprint/web-sprint-challenge-single-page-applications
	url = https://github.com/beatlesm/web-sprint-challenge-single-page-applications
